/* adding color to forcast card */
.forecast_containers {
    background-color: rgb(20, 45, 75);
}


.past_searches{
    background-color: grey;
    margin: 2px;
    text-align: center;
    padding: 2px;
    border-radius: 5px;
}